# pyproject.toml
[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch]

[tool.hatch.version]
source = "vcs"

# https://peps.python.org/pep-0621/
[project]
name = "magicgui"
description = " build GUIs from python types"
keywords = ["gui", "widgets", "type annotations"]
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
authors = [{ email = "talley.lambert@gmail.com" }, { name = "Talley Lambert" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: X11 Applications :: Qt",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Desktop Environment",
    "Topic :: Software Development",
    "Topic :: Software Development :: User Interfaces",
    "Topic :: Software Development :: Widget Sets",
    "Topic :: Utilities",

]
dynamic = ["version"]
dependencies = [
    "docstring_parser>=0.7",
    "psygnal>=0.3.1",
    "qtpy>=1.7.0",
    "superqt>=0.4.0",
    "typing_extensions",
]

# extras
# https://peps.python.org/pep-0621/#dependencies-optional-dependencies
[project.optional-dependencies]
pyside2 = [
    "pyside2>=5.14 ; python_version=='3.8'",
    "pyside2>=5.15 ; python_version>='3.9'",
]
pyqt5 = ["pyqt5>=5.12.0"]
pyqt6 = ["pyqt6"]
pyside6 = ["pyside6<6.4.0"]
tqdm = ["tqdm>=4.30.0"]
jupyter = ["ipywidgets>=7.5.0"]
image = ["pillow>=4.0"]
quantity = ["pint>=0.13.0"]
testing = [
    "tox",
    "pytest",
    "pytest-qt",
    "pytest-cov",
    "pytest-mypy-plugins",
    "numpy",
    "pandas",
    "tqdm>=4.30.0",
    "pillow>=4.0",
    "pint>=0.13.0",
    "matplotlib",
    "toolz",
    "ipywidgets",
    "pydantic",
    "attrs",
    "annotated_types",
]
dev = [
    "annotated_types",
    "attrs",
    "black",
    "ruff",
    "ipython",
    "ipywidgets",
    "isort",
    "matplotlib",
    "mypy",
    "numpy",
    "pandas",
    "pdbpp",
    "pillow>=4.0",
    "pint>=0.13.0",
    "pre-commit",
    "pydantic",
    "pydocstyle",
    "pyqt5>=5.12.0",
    "pytest-cov",
    "pytest-cov",
    "pytest-mypy-plugins",
    "pytest-qt",
    "pytest",
    "pytest",
    "rich",
    "toolz",
    "tox-conda",
    "tox",
    "tqdm>=4.30.0",
]

[project.urls]
homepage = "https://github.com/pyapp-kit/magicgui"
repository = "https://github.com/pyapp-kit/magicgui"
changelog = "https://github.com/pyapp-kit/magicgui/blob/main/CHANGELOG.md"
issues = "https://github.com/pyapp-kit/magicgui/issues"
documentation = "https://pyapp-kit.github.io/magicgui/"


# https://pycqa.github.io/isort/docs/configuration/options.html
[tool.isort]
profile = "black"
src_paths = ["src/magicgui", "tests"]

# https://github.com/charliermarsh/ruff
[tool.ruff]
target-version = "py38"
line-length = 88
extend-select = ["D", "M001"]
extend-ignore = [
    "D100",
    "D107",
    "D203",
    "D212",
    "D213",
    "D402",
    "D413",
    "D415",
    "D416",
]

[tool.ruff.per-file-ignores]
"tests/*.py" = ["D", "E501"]
"examples/*.py" = ["D"]
"src/magicgui/widgets/_image/*.py" = ["D"]


# https://docs.pytest.org/en/6.2.x/customize.html
[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["tests"]
filterwarnings = [
    "error",
    "ignore::DeprecationWarning:qtpy",
    "ignore:distutils Version classes are deprecated",
    "ignore:path is deprecated:DeprecationWarning",
    "ignore:Jupyter is migrating its paths to use standard platformdirs:DeprecationWarning",

]

# https://mypy.readthedocs.io/en/stable/config_file.html
[tool.mypy]
files = "src/**/*.py"
warn_unused_configs = true
warn_unused_ignores = true
check_untyped_defs = true
implicit_reexport = false
show_column_numbers = false
show_error_codes = true
ignore_missing_imports = true
implicit_optional = true

[[tool.mypy.overrides]]
module = [
    "magicgui.widgets._image.*",
    ".examples/",
    "magicgui.backends._qtpy.widgets.*",
    "_pytest.*",
]
ignore_errors = true


# https://coverage.readthedocs.io/en/6.4/config.html
[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
    "@overload",
    "except ImportError",
    "...",
    "except ImportError*",
    "raise NotImplementedError()",
    "pass",
]
omit = [
    "magicgui/events.py",
    "magicgui/widgets/_image/_mpl_image.py",
    "magicgui/widgets/_bases/*",
    "tests/*",
]


# https://github.com/mgedmin/check-manifest#configuration
[tool.check-manifest]
ignore = [
    ".pre-commit-config.yaml",
    "tests/**/*",
    "tox.ini",
    ".github_changelog_generator",
    "codecov.yml",
    ".ruff_cache/**/*",
]
