name: deploy docs

on:
  # Trigger the workflow on push to main branch
  push:
    branches:
      - main
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  build-and-deploy-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Install dependencies
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install Libraries
        run: |
          sudo apt-get install -y libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 \
            libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 \
            libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 xvfb
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid \
            --make-pidfile --background --exec /usr/bin/Xvfb -- :99 \
            -screen 0 1920x1200x24 -ac +extension GLX
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .[pyqt5]
          pip install -r docs/requirements.txt
          python docs/patch.py

      # Build the book
      - name: Build the book
        run: jupyter-book build docs
        env:
          DISPLAY: ":99.0"
          XDG_RUNTIME_DIR: "/tmp/runtime-runner"

      # Deploy the book's HTML to gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
