name: tests

on:
  push:
    branches:
      - main
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.platform }} (${{ matrix.python-version }}) ${{ matrix.backend }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        platform: [ubuntu-latest, macos-latest, windows-latest]
        backend: [pyqt5, pyside2]
        include:
          - python-version: "3.7"
            platform: ubuntu-latest
            backend: pyqt5
          - python-version: "3.7"
            platform: macos-latest
            backend: pyqt5
          - python-version: "3.7"
            platform: windows-2022
            backend: pyside2
          - python-version: "3.10"
            platform: ubuntu-latest
            backend: pyqt6
          - python-version: "3.10"
            platform: ubuntu-latest
            backend: pyside6
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: tlambert03/setup-qt-libs@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools tox tox-gh-actions

      - name: Test with tox
        uses: GabrielBB/xvfb-action@v1
        with:
          run: python -m tox
        env:
          PLATFORM: ${{ matrix.platform }}
          BACKEND: ${{ matrix.backend }}

      - name: Coverage
        if: runner.os == 'Linux'
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true

  test_napari:
    name: napari tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: napari/napari
          path: napari-from-github
      - uses: tlambert03/setup-qt-libs@v1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[testing]
          python -m pip install ./napari-from-github[pyqt5]
          wget https://raw.githubusercontent.com/napari/napari/main/napari/_tests/test_magicgui.py
          # remove napari marker
          sed '/@pytest.mark.sync_only/d' test_magicgui.py > test_napari.py

      - name: Test napari magicgui
        uses: GabrielBB/xvfb-action@v1
        with:
          run: pytest test_napari.py -v --color=yes

  test_magicclass:
    name: magic-class tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: hanjinliu/magic-class
          path: magic-class
      - uses: tlambert03/setup-qt-libs@v1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[testing,pyqt5]
          pip install numpy superqt vispy pyqtgraph
          python -m pip install ./magic-class

      - name: Test magicclass
        uses: GabrielBB/xvfb-action@v1
        # magicclass is still in development, don't fail the whole build
        # this makes this much less useful... but it's better than nothing?
        continue-on-error: true
        with:
          working-directory: magic-class
          run: pytest -v --color=yes

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'pyapp-kit/magicgui' && contains(github.ref, 'tags') }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools setuptools_scm wheel twine build
      - name: Build
        run: |
          git tag
          python -m build
          twine check dist/*
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
          body_path: ${{ github.workspace }}/CHANGELOG.md
      - name: Publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_API_KEY }}
        run: twine upload dist/*
